doctype html 
html
    head 

        title Dance Website 
        block scripts 
        block style     
            
    body 
        nav#navbar 
            ul 
                div#logo   
                    img(src="./static/logo.png", alt="")
                li #[a(href="/") Home] 
                li #[a(href="http://") Services] 
                li #[a(href="http://") About Us] 
                li #[a(href="http://") Classes Info] 
                li #[a(href="contact") Contact Us] 

        block content  
        footer#footer 
            h3 COPYRIGHT&#169; 2021 -- KARTHIK